<a href="https://colab.research.google.com/github/25021987-Vudangtu/25021987-VuDangTu/blob/master/Week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Bai 1

In [ ]:
n = int(input())
s = 0
for i in range(1, n + 1):
    s += i
print(s)

#Bai 2

In [ ]:
def prime(n):
    if (n < 2):
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if (n % i == 0):
            return False
    return True
flag = False
while (not flag):
    n = int(input())
    flag = prime(n)
    print(flag)

#Bai 3

In [ ]:
n = int(input())
gt = 1
for i in range(1, n + 1):
    gt *= i
print(gt)

#Bai 4

In [ ]:
n = abs(int(input()))
s = 0
while (n != 0):
    s += 1
    n //= 10
print(s)

#Bai 5

In [ ]:
n = int(input())
a = list(map(int, input().split()))
print("I've found the meaning of life!" if (42 in a) else "It's a joke!")

#Bai 6

In [ ]:
a, b = map(int, input().split())
d = [1] * (b + 1)
d[0] = d[1] = 0
for i in range(2, b + 1):
    if (d[i]):
        for j in range(i * i, b + 1 , i):
            d[j] = 0
s = 0
for i in range(a, b + 1):
    s += i * d[i]
print(s)

#Bai 7

In [ ]:
def prime(n):
    if (n < 2):
        return 0
    for i in range(2, int(n ** 0.5) + 1):
        if (n % i == 0):
            return 0
    return 1
n = int(input())
res = 0
for i in range(1, int(n ** 0.5) + 1):
    if (n % i == 0):
        res = max(res, i * prime(i), n // i * prime(n // i))
print(res)

#Bai 8

In [ ]:
def rev(n):
    x = 0
    while (n > 0):
        x = x * 10 + n % 10
        n //= 10
    return x
n = abs(int(input()))
c = 0
rn = rev(n)
while (n != rn):
    c += 1
    n += rn
    rn = rev(n)
print(c, n)

#Bai 9

In [ ]:
def f(x):
    d = [0] * 10
    while (x > 0):
        if (d[x % 10]):
            return 0
        d[x % 10] = 1
        x //= 10
    return 1
n = int(input())
n = int(n ** 0.5)
a = [i * i for i in range(1, n + 1) if f(i * i)]
print(a if len(a) else "No Number")

In [ ]:
#bai10

In [ ]:
#bai11

In [ ]:
#bai12

In [3]:
#bai13
def tonguoc(a):
  s=0
  for i in range(1,a):
    if a%i==0:
      s+=i
  return s
m,n=map(int,input("nhap 2 so: ").split())
if m==tonguoc(n) and n==tonguoc(m): print("true")
else: print("false")

nhap 2 so: 2620 2924
true

In [5]:
#bai14
from math import *
m,n=map(int,input().split())
print(gcd(m,n))

100024 1024
8

In [6]:
#bai15
tc,tchan=map(int,input().split())
b=(tchan-2*tc)//2
a=tc-b
if tchan%2!=0:
  print("invalid")
else:
  print(a, b)

78 194
59 19

In [8]:
#bai16

for i in range(0,100):
  if i%6==0:
    print(i,end=" ")

0 6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96

In [11]:
#bai17
a=int(input("nhap a"))
for i in range(1,10):
  if a>0:
    tich=a*i
    print(f"{a}x{i}={tich}")
if a<=0:
  print("LOi")

nhap a-4884
LOi

In [13]:
#bai18
a,b=map(int,input().split())
for i in range(1,a+b+1):
  if a%i==0 and b%i==0:
    print(i,end=" ")

74 148
1 2 37 74

In [15]:
#bai19
n=int(input())
for i in range(1,n+1):
  if i%2==0:
    print(i, end=" ")

83
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82